@import url('https://fonts.googleapis.com/css?family=Rubik');

body {
  margin: 0px;
  padding: 0px;
  background-color: #222;
  color: white;
  font-family: 'Rubik', sans-serif;
}

#title > h1, #title > p {
  margin: 0px;
  padding: 0px;
  cursor: default;
}
#title {
  height: 33vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#title > h1 {
  font-size: 4em;
  padding-top: 33%;
  padding-bottom: 10px;
}

#body input, #body button, #body p {
  margin: 0px;
  padding: 0px;
  border-width: 0;
}
#body {
  height: 33vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#body > div {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#body p {
  padding-top: 20px;
  font-size: 1em;
}
#body input {
  padding: 0.5em;
  font-size: 1.5em;
  border-top-left-radius: 0.3em;
  border-bottom-left-radius: 0.3em;  
  width: 33vw;
}
#body button {
  padding: 0.5em;
  font-size: 1.5em;
  border-top-right-radius: 0.3em;
  border-bottom-right-radius: 0.3em;  
  background-color: #346788;
  color: black;
  cursor: pointer;
}
#body button:hover {
  background-color: #29526c;
}