extends layout

block appHead
    title='Reimager - About'
    meta(name='author', content='Noah Kraft')
    meta(name='description', content='Probelab ReImager is a simple and powerful tool for the re-processing of images captured with various devices such as Microprobes, SEMs, and TEMs.')
    link(rel='stylesheet', href='/assets/css/index.css')

block app
  div
    p Probelab ReImager was funded in part by the NSF, the University of Minnesota, and Anette von der Handt
