extends layout

block appHead
    //script(src='/assets/js/index.js')
    link(rel='stylesheet', href='/assets/css/download.css')

block app
    section#header
        h1 Reimager Download
    section#main
        p Coming Soon
    section#footer
