@import url('https://fonts.googleapis.com/css?family=Rubik');

body {
  margin: 0px;
  padding: 0px;
  background-color: #222;
  color: white;
  font-family: 'Rubik', sans-serif;
}

#App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

h1 {
  margin: 0px;
  padding: 0px;
  font-size: 4em;
  padding-top: 33%;
  padding-bottom: 10px;
}

p {
  margin: 0px;
  padding: 0px;
  font-size: 1.5em;
}