@import 'general/colors.scss';

.anchor {
  a {
    margin-left: 0.5em;
    color: $selected-color;
    fill: $selected-color;

    &:hover {
      color: $hover-color;
      fill: $hover-color;
    }

    > svg {
      height: 0.8em;
    }
  }
}