@import 'general/colors.scss';

body {
  margin: 0;
  padding: 0;
  background-color: $background-color;
  color: white;

  min-height: 100vh;
  width: 100vw;

  overflow-x: hidden;

  h1 {
    margin: 0;
  }

  > .top {
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
      font-size: 4em;
      text-align: center;
    }
  }

  > .bot {
    min-height: calc(100vh - 40vh - 3em);

    > div {
      display: flex;
      flex-direction: row;
      justify-content: center;

      a {
        text-decoration: none;
      }
    }
    p {
      text-align: center;
      margin: 0;
    }
  }
}