@import 'general/colors.scss';

#app {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;

  div {
    height: 30vh;
  }

  h1 {
    margin: 0;
    padding: 0;
    width: 100vw;
    text-align: center;
  }
}