@import 'general/colors.scss';
@import 'general/general.scss';

#app {
  > div {
    width: max-content;
    margin: auto;
    max-width: calc(100% - 3em);
  }

  h1 {
    text-align: center;
    margin-bottom: 1em;
    font-size: 4em;
  }

  p.announcement {
    text-align: center;
    margin-bottom: 1em;
    font-size: 1.8em;
  }

  h2 {
    margin-bottom: 1.5em;
  }

  .intro {
    padding-top: 6em;
  }

  .video {
    margin-top: 2em;
    height: 40vh;
    display: flex;
    flex-direction: column;

    video {
      height: 40vh;
    }
  }

  .download-button {
    padding: 4em 0;
  }

  .infographic {
    width: 100%;

    > div {
      margin: 2em 0;

      @media (min-width: $min-screen-width) {
        display: flex;
      }

      > .text {
        margin: auto;

        p {
          margin-bottom: 1.5em;
        }
      }

      > .image {
        justify-content: center;
        display: flex;

        > div {
          width: 100%;
          display: flex;
          justify-content: center;

          img {
            max-height: 30em;
            max-width: 90%;
          }

          .fix-image {
            max-width: 700px;
            width: 95%;
          }
        }
      }

      @media (min-width: $min-screen-width) {
        > div {
          width: 50%;
        }
      }
    }
  }
}