@import 'general/colors.scss';
@import 'general/general.scss';

#app {
  > div {
    width: max-content;
    margin: auto;
    max-width: calc(100% - 3em);
  }

  .intro {
    padding-top: 6em;
  }

  .download-button {
    padding: 4em 0;
  }

  .infographic {
    width: 100%;

    > div {
      margin: 2em 0;
      display: flex;

      > div {
        p {
          margin-bottom: 0.8em;
        }

        img {

        }
      }

      @media (min-width: $min-screen-width) {
        > div {
          width: 50%;
        }
      }
    }
  }
}