$selected-color: #0fb9b1;
$hover-color: #2bcbba;
$accent-color: #4b6584;
$background-color: #444;

body {
  margin: 0;
  padding: 0;
  background-color: $background-color;
  color: white;

  min-height: 100vh;
  width: 100vw;

  overflow-x: hidden;

  h1 {
    margin: 0;
  }

  > #header {
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
      font-size: 4em;
      text-align: center;
    }
  }

  > #main {
    min-height: calc(100vh - 40vh - 3em);

    p {
      text-align: center;
    }
  }

  > #footer {
    height: 3em;
    background-color: $accent-color;
  }
}