@import 'general/colors.scss';
@import 'general/general.scss';

#app {
  text-align: start;
  display: flex;
  flex-direction: row;
  justify-content: center;

  a {
    color: $selected-color;

    &:hover {
      color: $hover-color;
    }
  }

  > div {
    margin-top: 3em;
  }

  h2, h3 {
    margin: 1em;
  }

  p {
    margin: 0.5em;
  }

  .split-half {
    display: flex;
    flex-direction: column;

    > div {
      display: flex;
      flex-direction: column;

      width: 100%;
      margin: auto;

      > div {
        width: 100%;
        display: flex;
        margin: auto;

        > div {
          margin: auto;
        }
      }
    }

    @media (min-width: $medium-screen-width) {
      flex-direction: row;

      > div {
        width: 50%;

        > div {
          width: 50%;
        }
      }
    }
  }

  > div {
    width: 90%;
  }

  #pixel-constant + div {
    img {
      @media (min-width: $medium-screen-width) {
        min-width: 450px;
      }
    }
  }

  #install-problems-win10 + div {
    :last-child {
      flex-direction: row;
      justify-content: space-around;

      img {
        width: 45%;
        padding: 1em;
        max-width: 450px;
      }
    }
  }

  #install-problems-ff + div {
    :last-child {
      flex-direction: row;
      justify-content: space-around;

      img {
        padding: 1em;
      }
    }
  }

  #install-problems-edgium + div {
    > :last-child {
      width: initial;

      > :last-child {
        width: 100%;
        justify-content: space-around;

        img {
          padding: 1em;
          width: 90%;
        }
      }
    }
  }
}