@import 'general/colors.scss';
@import 'general/general.scss';

#app {
  text-align: center;

  > div {
    margin-top: 3em;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}